@using System.Text.Json
@using BTCPayServer
@using BTCPayServer.Client
@using BTCPayServer.Security
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.OpenSimulator.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@inject ContentSecurityPolicies Csp
@model BTCPayServer.Plugins.OpenSimulator.Models.OpenSimulatorPageViewModel
@{
    ViewData.SetActivePage(OpenSimulatorNavPages.Index, "OpenSimulator Plugin", "OpenSimulator" );
    var nonce = NBitcoin.RandomUtils.GetUInt256().ToString().Substring(0, 32);
    Csp.Add("script-src", $"'nonce-{nonce}'");  
}

@section PageHeadContent {
<link href="~/Resources/css/osp.css" rel="stylesheet" type="text/css" asp-append-version="true">
}

@section PageFootContent {
    <script src="~/Resources/js/opensimulator.js" asp-append-version="true"></script>
}
<img id="opensimLogo" src="~/Resources/img/opensimLogo.png" style="position: relative;top:-10px;width:64px" asp-append-version="true">&nbsp;<h2 style="display: inline;">@ViewData["Title"]</h2>&nbsp;&nbsp;<span class="ospVersion">v0.1.2.2</span>
<div class="sticky-header mb-l">
    <nav id="SectionNav">
        <div class="nav">
            <a permission="@Policies.CanModifyStoreSettings" id="SectionNav-@(nameof(OpenSimulatorNavPages.Index))" class="nav-link @ViewData.ActivePageClass(OpenSimulatorNavPages.Index)" asp-controller="UIOpenSimulator" asp-action="Index" asp-route-storeId="@Model.StoreID">Authorizations Manager</a>
            <a id="osScripts" href="" class="nav-link">LSL Scripts</a>
            <a id="osDocumentation" href="https://github.com/AdilElFarissi/btcpay-opensimulator-plugin/wiki" target="_blank" rel="noreferrer" class="nav-link">Documentation</a>

            <vc:ui-extension-point location="store-nav" model="@Model"/>
        </div>
    </nav>
</div>

<div id="SectionNav-Index-Page" class="osPage">
    <form id="authorizationRequest" asp-controller="UIOpenSimulator" asp-action="AuthorizationsManager">
        <input id="itemId" type="hidden" name="Id" value="">
        <input type="hidden" name="StoreId" value="@Model.StoreID">
        <input id="itemAvatarId" type="hidden" name="AvatarId" value="">
        <input id="itemObjectId" type="hidden" name="ObjectId" value="">
        <input id="itemTask" type="hidden" name="Task" value="">

    <div class="badge badge-invalid tableTitle" style="width: 185px;text-align:left;cursor:auto;"><h6>Pending Authorizations</h6></div>
    <table id="pendingAutorizations" class="table">
        <thead>
            <tr>
            <th style="width: 180px;">Owner Name</th>
            <th style="width: 180px;">Object Name</th>
            <th>Location</th>
            <th style="width: 195px;">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="badge badge-settled tableTitle" style="width: 185px;text-align:left;cursor:auto;"><h6>Authorized Objects</h6></div>
    <table id="authorizedObjects" class="table">
        <thead>
            <tr>
            <th style="width: 180px;">Owner Name</th>
            <th style="width: 180px;">Object Name</th>
            <th>Location</th>
            <th style="width: 185px;">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="authorizationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="authorizationModalTitle" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 550px;">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="authorizationModalTitle">Authorizations Manager</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <vc:icon symbol="close" />
                </button>
            </div>
                    
            <div id="authorizationModal-modal-body" class="modal-body"></div>
                    
            <div class="modal-footer">
                <button id="authorizationModalBtn" type="button" class="btn" style="color: #fff;text-shadow: 0px 0px 3px #000;">Remove</button>
                <button type="button" class="btn badge-settled cancelOrClose" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" nonce="@nonce">
        var osModel = @Html.Raw(JsonConvert.SerializeObject(Model.Data.OrderByDescending(t => t.Timestamp)));
        var StoreId = "@Model.StoreID";
        var defaultPaymentMethod = "@Model.StoreDefaultPaymetMethod";
        var defaultCurrency = "@Model.StoreDefaultCurrency";
        var IP = "@Model.ServerIP";
    </script>

</form>
</div>

<div id="osScriptsPage" class="osPage" style="display: none;">
    <ul id="scriptsNav">
        <li id="tipJarScript" class="sNav-bg bg-yellow"><h6><i class="fa fa-heart"></i>Crypto Tip-Jar Script</h6></li>
        <li id="vendorScript" class="sNav-bg"><h6><i class="fa fa-shopping-cart" ></i>Products Vendor Script</h6></li>
        <li id="rentalBoxScript" class="sNav-bg"><h6><i class="fa fa-home" ></i>Rental Box Script</h6></li>
    </ul>
    <div id="tipJarScriptBox" class="row bg-green osScriptBox" style="padding: 10px 0;border-radius:10px;margin-bottom:20px;">
        <div class="row">
        <h5>Crypto Tip-Jar Script</h5>
        <div class="alert alert-warning">
        <span><b>User Level:</b> Parcel Owner or more.</span>
        </div>
        <span>The Tip-Jar script will turn any inWorld object placed in its content to a donation box allowing the object's owner to collect crypto donations and is the 3D equivalent of the Pay Button 
            that do more or less the same:
            <ul style="margin-left: 20px;">
                <li>Invite the donator to select a currency or the default payment method...</li>
                <li>Invite the donator to chose a pre-setted or type a custom amount of the selected currency...</li>
                <li>Request the invoice from BTCPay server and invite your donator to open the invoice page...</li>
                <li>Monitor the invoice status and the payment progress and confirmation...</li>
                <li>Handle the invoice success or expiration and auto-reset the Tip-Jar.</li>
                <li>Protect your BTCPay store by limiting the usage to one user and one invoice per user at time. 
                    Also the script disable the Tip-Jar for the other avatars while used and in the invoice processing time.</li>
            </ul>
            The script is ready to use as is and use your store settings as default script parameters. You can also
            set the optional invoice parameters and override the default payment method using the scripting helper at right.<br>
            <br>
            This video guide will show you how to create a simple scripted object to use as inWorld Tip-Jar:<br>
            <a href="https://www.youtube.com/watch?v=NTb8PPp0qco&t=175&vq=hd720" target="_blank"><i class="fa fa-youtube-play" style="color: #f00;font-size:16px;margin-right:5px;"></i><b>Youtube basic video guide.</b></a><br>
            <br>
        </span>
        </div>

        
        <div class="col-md-8">
            <pre style="border: 1px solid #2e2e2e;"><code id="tipjarScriptCode" style="display:block;width: 540px;height:330px;">
            </code></pre>
            <button class="btn btn-outline-secondary pull-right bg-green" style="margin-right: 5px;" data-clipboard-target="#tipjarScriptCode">
                <i class="fa fa-copy"></i>&nbsp;Copy Code
            </button>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label" for="tjDefaultPaymentMethod">Payment Method&nbsp;&nbsp;<span class="labelWarning">(Supported Cryptos Only !)</span></label>
                <input id="tjDefaultPaymentMethod" type="text" value="@Model.StoreDefaultPaymetMethod">
            </div>
            <div class="form-group">
                <label class="form-label" for="notificationEmail">Notifications Email</label>
                <input id="tjNotificationEmail" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="tjRedirectURL">Redirect URL</label>
                <input id="tjRedirectURL" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="tjCheckoutQueryString">Checkout Query String</label>
                <input id="tjCheckoutQueryString" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="chatNotification">Chat Notifications</label>
                <select id="tjChatNotification" type="text">
                    <option value="TRUE">Yes</option>
                    <option value="FALSE">No</option>
                </select>
            </div>
        </div>
    </div>

    <div id="vendorScriptBox" class="row bg-green osScriptBox" style="padding: 10px 0;border-radius:10px;margin-bottom:20px;display:none;">
        <div class="row">
            <h5>Single Product Vendor Script</h5>
            <div class="alert alert-warning">
            <span><b>User Level:</b> Parcel Owner or more.</span><br>
            <span><b>Requiere:</b> The object to sell and setting a currency, the sell price and your product description.</span>
            </div>
            <span>Vendor Infos:
            <ul style="margin-left: 20px;">
                <li>Inform the buyer about the item or service in sale in the chat and the purchase blue box...</li>
                <li>Invite the buyer to click a [Buy] button if she/he accept the offer...</li>
                <li>Request the invoice from BTCPay server and invite your buyer to open the invoice page...</li>
                <li>Monitor the invoice status and the payment progress and confirmation...</li>
                <li>Handle the invoice success or expiration and deliver the product after a successful payment.</li>
                <li>Protect your BTCPay store by limiting the usage to one user and one invoice per user at time. 
                    Also the script disable the vendor for the other avatars while used and in the invoice processing time.</li>
            </ul>
            This video guide will show you how to create a simple vendor to sell your products inWorld:<br>
            <a href="https://www.youtube.com/watch?v=NTb8PPp0qco&t=530&vq=hd720" target="_blank"><i class="fa fa-youtube-play" style="color: #f00;font-size:16px;margin-right:5px;"></i><b>Youtube basic video guide.</b></a><br>
            <br>
            </span>
        </div>
        <div class="col-md-12">
            <pre style="border: 1px solid #2e2e2e;"><code id="vendorScriptCode" class="lsl" style="display:block;width: 540px;height:250px;">
            </code></pre>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="vDisplayCurrency">Display Currency</label>
                    <select id="vDisplayCurrency" class="vDisplayCurrency" type="text" value="@Model.StoreDefaultCurrency"></select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="vNotificationEmail">Notifications Email</label>
                    <input id="vNotificationEmail" type="text">
                </div>
                <div class="form-group">
                <label class="form-label" for="vChatNotification">Chat Notifications</label>
                <select id="vChatNotification" type="text">
                    <option value="TRUE">Yes</option>
                    <option value="FALSE">No</option>
                </select>
            </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="vItemPrice">Item Price In&nbsp;<span id="priceCurrency"></span>&nbsp;&nbsp;<span class="labelWarning">(Mandatory, Non-zero !)</span></label>
                    <input id="vItemPrice" type="number" value="0.000000" step="0.000001" min="0.000001">
                </div>
                <div class="form-group">
                    <label class="form-label" for="vRedirectURL">Redirect URL</label>
                    <input id="vRedirectURL" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="vShowHoverText">Show/Hide Hover Text</label>
                    <select id="vShowHoverText" type="text">
                        <option value="TRUE">Show</option>
                        <option value="FALSE">Hide</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="vDefaultPaymentMethod">Payment Method&nbsp;&nbsp;<span class="labelWarning">(Supported Cryptos Only !)</span></label>
                    <input id="vDefaultPaymentMethod" type="text" value="@Model.StoreDefaultPaymetMethod">
                </div>
                <div class="form-group">
                    <label class="form-label" for="vCheckoutQueryString">Checkout Query String</label>
                    <input id="vCheckoutQueryString" type="text">
                </div>
                <button class="btn btn-outline-secondary" style="position:relative;top:18px;width:100%;" data-clipboard-target="#vendorScriptCode">
                <i class="fa fa-copy"></i>&nbsp;Copy Code
                </button>

            </div>
        </div>
    </div>

    <div id="rentalBoxScriptBox" class="row bg-green osScriptBox" style="padding: 10px 0;border-radius:10px;margin-bottom:20px;display:none;">
        <div class="row">
            <h5>Crypto Rental Box Script</h5>
            <div class="alert alert-warning">
            <span style="color: #f00;"><b>User Level: Estate Owner Only !</b></span><br>
            <span ><b>Important Note:</b>
                <ul style="margin-bottom: 5px;padding-left:20px">
                    <li>This rental box was made to rent parcels or a region sub-divisions and must be inside the region where the parcel is and outside the parcel to rent.</li>
                    <li>The script use <a href="http://opensimulator.org/wiki/OsSetParcelDetails" target="_blank">osSetParcelDetails(...)</a> function to deliver and get back the parcel. The rental box will fail to get back the parcel if the script owner don't have the Estate Owner rights and permissions.</li>
                    <li>The rental box do not return the previous user items after getting back the parcel. The auto-return must not be set to zero in the land options or you will need a manual intervention to clean the parcel.</li>
                </ul>
            </span>
            <span><b>Requiere:</b> A parcel to rent, setting the currency and the rental price (per month) and 2 information notecards named "Rental Infos And Guide" and "Security Settings" in the rental box content.</span>
            </div>
            <span>Rental Box Infos:
            <ul style="margin-left: 20px;">
                <li>Inform the interested about the rental price per month and invite her/him to get the infos notecard...</li>
                <li>Invite the interested to select the rental period and confirm the calculated price per period...</li>
                <li>Request the invoice from BTCPay server and invite the buyer to open the invoice page...</li>
                <li>Monitor the invoice status and the payment progress and confirmation...</li>
                <li>Handle the invoice success or expiration and deliver the parcel after a successful payment.</li>
                <li>Allow the parcel owner to extend her/his rental period (paid).</li>
                <li>Allow the rental box owner to add an extra time (for free).</li>
                <li>Get back the parcel at the end of the rental contract and make it available for the next renter.</li>
                <li>Protect your BTCPay store by limiting the usage to one user and one invoice per user at time. 
                    Also the script allow only the new renter (if the parcel is not rented) and the current parcel owner to create invoices.</li>
            </ul>
            This video guide will show you how to sub-divide a parcel and setup your rental box:<br>
            <a href="https://www.youtube.com/watch?v=NTb8PPp0qco&t=1009&vq=hd720" target="_blank"><i class="fa fa-youtube-play" style="color: #f00;font-size:16px;margin-right:5px;"></i><b>Youtube basic video guide.</b></a><br>
            <br>
            </span>
        </div>
        <div class="col-md-12">
            <pre style="border: 1px solid #2e2e2e;"><code id="rentalScriptCode" style="display:block;width: 540px;height:250px;">
            </code></pre>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="rbParcelPosition">Parcel Position X,Y,Z:</label>
                    <div id="rbParcelPosition">
                        <input id="rbParcelPosition-x" type="number" style="width: 30%;margin-right:8px;" min="0.0" max="256.0" value="0.0">
                        <input id="rbParcelPosition-y" type="number" style="width: 30%;margin-right:8px;" min="0.0" max="256.0" value="0.0">
                        <input id="rbParcelPosition-z" type="number" style="width: 30%;color:#000;" value="21.0" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="rbDefaultPaymentMethod">Payment Method&nbsp;&nbsp;<span class="labelWarning">(Supported Cryptos Only !)</span></label>
                    <input id="rbDefaultPaymentMethod" type="text" value="@Model.StoreDefaultPaymetMethod">
                </div>
                <div class="form-group">
                    <label class="form-label" for="rbCheckoutQueryString">Checkout Query String</label>
                    <input id="rbCheckoutQueryString" type="text">
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="rbDisplayCurrency">Display Currency</label>
                    <select id="rbDisplayCurrency" class="rbDisplayCurrency" type="text" value="@Model.StoreDefaultCurrency"></select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="rbNotificationEmail">Notifications Email</label>
                    <input id="rbNotificationEmail" type="text">
                </div>
                <div class="form-group">
                <label class="form-label" for="rbChatNotification">Chat Notifications</label>
                <select id="rbChatNotification" type="text">
                    <option value="TRUE">Yes</option>
                    <option value="FALSE">No</option>
                </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="rbRentalPrice">Rental Price In&nbsp;<span id="rbPriceCurrency"></span>&nbsp;&nbsp;<span class="labelWarning">(Mandatory, Non-zero !)</span></label>
                    <input id="rbRentalPrice" type="number" value="0.000000" step="0.000001" min="0.000001">
                </div>
                <div class="form-group">
                    <label class="form-label" for="rbRedirectURL">Redirect URL</label>
                    <input id="rbRedirectURL" type="text">
                </div>
                
                <button class="btn btn-outline-secondary" style="position:relative;top:20px;width:100%;" data-clipboard-target="#rentalScriptCode">
                <i class="fa fa-copy"></i>&nbsp;Copy Code
                </button>

            </div>
        </div>
    </div>
</div>

